<% content_for :season do %>
  <% if @season.present? %>
    <a href="<%= url_for root_url :params => {season: @season[:start].advance(days: -1).strftime("%Y-%m-%d")} %>" class="mui-btn mui-btn--accent season-btn">
      <%= fa_icon "chevron-left" %>
    </a>
    <i class="fa fa-calendar"></i>
    <%= @season[:start].strftime("%b.") + ' to ' + @season[:finish].strftime("%b. %Y") %>
    <a href="<%= url_for root_url :params => {season: @season[:finish].advance(days: 1).strftime("%Y-%m-%d")} %>" class="mui-btn mui-btn--accent season-btn">
      <%= fa_icon "chevron-right" %>
    </a>
    <a href="/?season=all" class="mui-btn mui-btn--accent season-btn js-test-all-time">
      All time
    </a>
  <% else %>
    <i class="fa fa-calendar"></i> All time
    <a href="<%= url_for root_url %>" class="mui-btn mui-btn--accent season-btn">
      Go to current
    </a>
  <% end %>
<% end %>

<% if @games.empty? %>
  <div class="empty__container">
    <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
    <p>Welp, you need to play some games.</p>
  </div>
<% else %>
  <div class="leaderboard__container">
    <% @leaderboards.each_with_index do |board, index| %>
      <% if !board[:people].empty? %>
        <%= render partial: "board", locals: {board: board, index: index} %>
      <% end %>
    <% end %>
  </div>

  <div class="game__container">
    <div class="stats__container mui--hidden-sm mui--hidden-xs">
      <div id="random-fact"></div>
    </div>
    <% @games.each do |game| %>
      <%= render partial: "game_panel", locals: {game: game} %>
    <% end %>
  </div>
<% end %>
