<div class="mui-panel">
  <div class="mui--text-display1">
    Totals
    <a href="<%= url_for game_new_url %>" class="mui-btn mui-btn--accent">New Game</a>
  </div>


  <table class="mui-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Games</th>
        <th>Wins</th>
        <th>PPG</th>
      </tr>
    </thead>
    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.name %></td>
          <td><%= person.games_played %></td>
          <td><%= person.wins %></td>
          <td><%= person.points_per_game %></td>
      <% end %>
    </tbody>
  </table>

</div>
