<div class="leaderboard__container">
  <table class="leaderboard__table" id="leaderboard__table">
    <thead>
      <tr>
        <th class="sort" data-sort="name">Name</th>
        <th class="leaderboard__table__game sort" data-sort="games">Games</th>
        <th class="sort" data-sort="wins">Wins</th>
        <th class="sort" data-sort="ppg">PPG</th>
      </tr>
    </thead>
    <tbody class="list">
      <% @people.each do |person| %>
        <tr>
          <td class="name"><%= person.name %></td>
          <td class="leaderboard__table__game games"><%= person.games_played %></td>
          <td class="wins"><%= person.wins %></td>
          <td class="ppg"><%= person.points_per_game.round(2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="game__container">
  <% @games.each do |game| %>
    <div class="game__panel">
      <div class="mui-panel">
        <div class="game__header">
          <div class="moment-format mui--text-caption mui--text-dark-hint">
            <%= game.created_at.to_formatted_s(:iso8601) %>
          </div>
          <div class="game__header__title">
            Winner
          </div>
          <div class="game__header__winner">
            <i class="fa fa-trophy fa-4x"></i><span class="mui--text-display2"><%= game.winner %></span>
          </div>
        </div>
        <div class="game__content">
          <table class="mui-table mui-table--bordered">
            <tbody>
            <% game.leaderboard.each do |person| %>
              <tr>
                <td><%= person.person.name %> scored <%= person.points.to_s %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
