<!doctype html>
<html>
  <head>
    <title>Pointy</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="mui-appbar mui--z1">
      <div class="mui-container-fluid">
        <table width="100%">
          <tr class="mui--appbar-height">
            <td class="mui--text-title header--link"><%= link_to 'Pointy', root_url %></td>
            <%= yield :season %>
            <td>
              <a href="<%= url_for game_new_url %>" class="mui-btn mui-btn--accent mui--pull-right">
                <%= fa_icon "plus", text: "Add points" %>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </header>


    <div class="mui--appbar-height"></div>
    <%= yield %>

  </body>
</html>
